body{
  background-color: #ffdcd4;
  margin: 0;
}


.home-container {
  background: linear-gradient(0, #A882DD, #f7efff);
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  text-align: center;
  height: 50ch;
  width: 100%;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

h1{
  align-items: center;
  font-size: 10rem;
  color: #252525;
  font-family: 'Fantasy';
  padding-top: 2rem;
  margin: 0;
}

p{
  font-size: 2.75rem;
  color: #252525;
  font-family: 'fantasy';
}


/* CSS - From https://getcssscan/css-buttons-examples (by CSS Scan)*/
.button-33 {
  background-color: #E08D79;
  border-radius: 100px;
  box-shadow:
    rgba(224, 141, 121, 0.2) 0 -25px 18px -14px inset,
    rgba(224, 141, 121, 0.15) 0 1px 2px,
    rgba(224, 141, 121, 0.15) 0 2px 4px,
    rgba(224, 141, 121, 0.15) 0 4px 8px,
    rgba(224, 141, 121, 0.15) 0 8px 16px,
    rgba(224, 141, 121, 0.15) 0 16px 32px;
  height: 5rem;
  width: 15rem;
  color: #E0EFDE;
  cursor: pointer;
  display: inline-block;
  font-family: 'fantasy';
  padding: 7px 25px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 1.75rem;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow:
    rgba(224, 141, 121, 0.35) 0 -25px 18px -14px inset,
    rgba(224, 141, 121, 0.25) 0 1px 2px,
    rgba(224, 141, 121, 0.25) 0 2px 4px,
    rgba(224, 141, 121, 0.25) 0 4px 8px,
    rgba(224, 141, 121, 0.25) 0 8px 16px,
    rgba(224, 141, 121, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

/* Button container section */
.button-container{
  display : flex;
  justify-content: center;
  gap: 2rem;

}

h3{
  margin-top: 10rem;
  display: flex;
  color: #5e5e5e;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: 'Fantasy';
}